<div class="mx-auto max-w-screen-xl">

  @switch (productsState.state.status()) {
    @case ('loading') {
      <p>Loading...</p>
    }

    @case ('error') {
      <div class="my-6 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Error</span>
        <div>
          <span class="font-medium">Danger alert!</span> Error al cargar los prductos.
        </div>
      </div>
    }

    <!-- Otra opcion -->
    <!-- @default {

    } -->
    @case ('success') {
      <div class="flex justify-end my-4">
        <button (click)="changePage()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
          focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2
           dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
          <span class="sr-only">Icon description</span>
        </button>
      </div>

      <div class="mt-6 grid grid-cols-[repeat(4,300px)] gap-6">
        @for (product of productsState.state().products; track $index) {

        <app-product-card class="block" [product]="product" />

        }
      </div>
    }
  }

</div>
